
  <div class="books">
    <% books.each do |book| %>
      <div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row book">
              <div class="col-xs-4">
            <img src="<%= book['smallImageUrl'] %>" >
              </div>
              <div class="col-xs-8">
            <p class="book-title">
              <a href="<%= book["itemUrl"] %>" target="_blank"><%= book["title"] %></a>
            </p>
            <p>発売日: <%= book['salesDate'] %> 価格: <%= book['itemPrice'] %>円 </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>